.winFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #b6b3b3;
    color: #777777;
    padding: 1px;
    width: 100%;
    height: 5%;
    text-align: center;
  }

  .winStart {
      font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 20px;
      color: #494949;
      background-color: #8f8d8d;
      border: 1px;
      border-style: outset;
      border-color: #777777;
      float: left;
      height: 100%;
      width: 100px;
      padding-bottom: 5px;
      text-align: center;
  }

  .winStart:hover {
      background-color: #464545;
  }

  .winMenu {
      visibility: hidden;
      height: 20%;
      width: 20%;
      background-color: #464545;
  }